NFTs/NielsNFT/node_modules
*.env
NFTs/NielsNFT/coverage
NFTs/NielsNFT/coverage.json
NFTs/NielsNFT/typechain

**.DS_Store

#Hardhat files
NFTs/NielsNFT/cache
NFTs/NielsNFT/artifacts

# Coin
Coins/NielsCoin/node_modules
Coins/NielsCoin/coverage
Coins/NielsCoin/coverage.json
Coins/NielsCoin/typechain
Coins/NielsCoin/cache
Coins/NielsCoin/artifacts

# DApps
**/node_modules
**/cache
**/artifacts
